@charset "UTF-8";
:root{
    /* Color Theme Swatches in Hex */
        --VPNMundo-1-hex:#0756F2;
        --VPNMundo-2-hex:#056CF2; 
        --VPNMundo-3-hex:#0597F2; 
        --VPNMundo-4-hex:#05AFF2; 
        --VPNMundo-5-hex:#05DBF2; 
    }

@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background-image: linear-gradient(180deg, #0756F2, #05DBF2);
        background-attachment: fixed;
    }
    
    section{
        width: 80vw;
    }

    div#foto{
        float: left;
        width: 30%;
        height: 100%;
    
        
    }
    div#login{
        float: right;
        width: 65%;
                
    }
    
}

@media screen and (min-width:992px) {
    body{
        background-image: linear-gradient(180deg, #0756F2, #05DBF2);
        background-attachment: fixed;
    }

    section{
        width: 900px;
    }
    div#foto{
        float: left;
        width: 50%;
        height: 100%;
    }
    div#login{
        float: right;
        width: 45%;
    }
    div > h1{
        font-size: 2em;
    }
    div > p{
        font-size: 1.2em;
    }
    
}