@charset "UTF-8";
:root{
/* Color Theme Swatches in Hex */
    --VPNMundo-1-hex:#0756F2;
    --VPNMundo-2-hex:#056CF2; 
    --VPNMundo-3-hex:#0597F2; 
    --VPNMundo-4-hex:#05AFF2; 
    --VPNMundo-5-hex:#05DBF2; 
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body{
    background-color: var(--VPNMundo-4-hex);
    box-sizing: border-box;
    width: 100vw;
    width: 100vh;
    
    
}

main{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

section{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 252px;
    height: 500px;
    background-color: var(--VPNMundo-5-hex);
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;


        
    }

div#foto{
    display: block;
    background: #05AFF2 url(../imagens/buid.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
        
}
div#login{
    display: block;
    padding: 0px 12px;
    font-size: 0.8em;
}
div > h1{
    text-align: center;
}
div > p{
    text-align: left;
    
}

img{
    width: 60vw;
    height: auto;
    background-size: contain;

}

p.campo{
    display: block; /* Não precisaria, mas para padronizar*/
    background-color: var(--VPNMundo-1-hex);
    width: 100%;  /* Não precisaria, mas para padronizar*/
    border-radius: 5px;  
    padding: 8px 0px;
    margin: 5px 0px;
}

form label {
    display: none;
}


    
form > p > input[type=submit] {
    font-size: 1.2em;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--VPNMundo-3-hex);
    border-radius: 5px;
    cursor: pointer;
    color: rgb(54, 54, 54);
}

form > p > input[type=submit]:hover{
    background-color: var(--VPNMundo-1-hex);
    color: black;
}

form > p > a{
    display: block;
    background-color: var(--VPNMundo-4-hex);
    width: 100%;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: .9em;
    color: rgb(122, 122, 122);
    border-radius: 5px;
    border: 1px solid --VPNMundo-2-hex;
    
}

form > p > a:hover{
    background-color: var(--VPNMundo-2-hex);
    color: black;
    
} 

